footer{
    display: flex;
    width: 100%;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-color: #424242;
    color: #F5F5F5;
}
.contatos{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
}